* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-image: url(STBA5.webp);
  background-position: center;
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  padding: 140px;
  min-height: 100vh;
}

.container {
  gap: 30px;
  justify-content: center;
}

.form-box {
  background: white;
  place-self: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 30px;
  width: 350px;
}

.form-box h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox input {
  margin-right: 8px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #005fa3;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 10px;
  text-align: center;
}